nav {
    height: 60px;
    float: right !important;

    ul {
        text-shadow: 0px -2px 0px #313131; 
        li {
            width: 48%;
            text-align: center;
            display: inline-block;
            line-height: 60px;
            cursor: pointer;
            color: $mainwhite;
            font-size: 1.3em;
        }
    }
}