/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";
@import "build";
@import "smartgrid";
@import "nav";
@import "compass/utilities/general/clearfix";

* {
    @include box-sizing(border-box);
}

html { height: 100%;  }

body {
    font-family: $lato;
    color: #333;
    height: 100%;
}

header {
    background: rgba(255,255,255,.81);

    label {
        padding: 10px;
        position: relative;
    }
}

h1 {
    font-size: 1.8em;
    border-bottom: 1px solid #aaa;
    padding: 5px 0;
    margin: 0 0 10px;
}

h2 {
    font-size: 1.4em;
    margin: 15px 0 5px;
    border-bottom: 1px solid #bbb;
    padding-bottom: 5px;
}


p {
    line-height: 1.6;

    &.actors {
        color: #888;
        font-size: .88em;
    }
}
a { color: #333; }
a:hover { color: $mainhover; }

.twitter-typeahead {
    width: 97%; 
    margin: 4px auto;
}

.tt-dropdown-menu {
    position: absolute;
    z-index: 999999;
    left: 11px;
    background: $mainwhite;
    background: rgba(255,255,255,.95);
    max-height: 500px;
    @include border-radius(0 0 3px 3px);
    @include box-shadow(0px 2px 6px #777);
    width: 100%;
    font-size: .8rem;
    color: #333;

    &:hover { text-shadow: none;}

    .tt-suggestions {
        max-height:180px;
        overflow: auto;   
    }

    .tt-suggestion {
        line-height: 30px;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #ccc;
        cursor: pointer;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        margin: 0 10px;
        font-size: 1.2em;
        text-align: left;

        &.tt-is-under-cursor { background: #fff; color: #000;  }

        &:first-of-type {
            border-top: none;
        }
        &:last-of-type {
            border-bottom: none;
        }

        a {
            color: #222;
            text-decoration: none;
            display: inline-block;
            width: 80%;
        }

        &:hover {
            text-decoration: underline;
        }

        i {
            position: relative;
            top: 5px;
            border: 1px solid red;
            right: 10px;

            &:hover { color: red; }

        }
    }
    h2 {    
        text-align: left;
        margin-top: 0;
        margin-bottom: 0;
        border-top: 1px solid #ccc;
        @include  box-shadow(0px 0px 2px inset #fff);
        background-color: rgb(69,72,77); // Old browsers
        @include filter-gradient(#45484d, #000000, vertical); // IE6-9
        @include background-image(linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%));
        color: #fff;

        i {
            padding: 0px 10px;
            display: inline-block;
            line-height: 30px;

            &:before { 
                vertical-align: -2px; }
        }
    }
}   

.pertinent-list {
    li {
        line-height: 1.4em;

        a {
            color: #333;
            text-decoration: none;
            display: block;

            &:hover {
                text-decoration: underline;
            }
        }

        &:hover {
            background: rgba(255,255,255,.3) ;
        }
        &:first-of-type { border-top: none;}
        &:last-of-type { border-bottom: none;}
    }   
}

.controls {
    @extend .clearfix;
    // needs latest Compass, add '@import "compass"' to your scss
    background-color: rgb(69,72,77); // Old browsers
    @include filter-gradient(#45484d, #000000, vertical); // IE6-9
    @include background-image(linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%));
    white-space: nowrap;
    border-bottom: 1px solid #fff;

    > li {
        float: left;
        height: 55px;
        text-align: center;
        width: 33%;
        line-height: 37px;
        cursor: pointer;
        position: relative;
        color: #2cafe3;
        font-size: 1.27em;
        text-shadow: none;
        border-left: 1px solid #555;
        border-right: 1px solid #000;

        &.search-bar {
            width: 100%;
            height: auto;
            border-top: 1px solid #666;
        }

        &:hover { 
            color: #49c0f0;
//            text-shadow: 0px 0px 3px #fff;
            @include box-shadow(0px 0px 20px #111 inset);
        }
        &:after {
            content: attr(title);
            display: block;
            color: #fff;
            position: absolute;
            bottom: -7px;
            width: 100%;
            font-size: .6em;
        }
    }
}


.map-canvas {
    width: 100%;
    height: 100%;
    position: absolute;

    h2 {
        font-size: 1.4em;
        text-align: center;
    }
}


input {
    font-size: .8em;
    border: none;
    padding: 9px 7px;
    outline: none;
    width: 100%;
    @include box-shadow(0px 0px 2px #444 inset);
    @include border-radius(2px);

    &:focus {
        outline: none;
        border-color: #ccc;
    }
}

.sidebar {
    width: 350px;
    height: 100%;
    position: absolute;
    right: 0;
    text-shadow: 0px 1px 0px #ddd;
    background: rgba(255,255,255,.81);
    @include box-shadow(0px -2px 4px #aaa);
}

.location-data {
    overflow: auto;
    position: relative;
    padding: 10px;
}

button {

        @include border-radius(3px);
        @include box-shadow(0px 0px 1px #fff inset);
        background: #ddd;
        border: 1px solid #bbb;
        position: relative;
        cursor: pointer;
        padding: 5px 7px;
        display:block;
        margin: 10px auto;
        font-size: .9em;
        text-decoration: none;
        text-align: center;
        color: #333;
        width: 100%;
        
        &.icon-star-2 {
            border-color: #2cafe3;
        }

        &.icon-star-2:before {
            color: #2cafe3;
        }

        &:before {
            padding: 0 5px 0 2px;
        }

        &:hover {
            background: #bbb;
        }

        &:active {
            background: #aaa;
        }
}

progress {
    width: 400px;
    display: block;
    margin: 10px auto;
}

progress::-webkit-progress-value {  
}  
progress::-moz-progress-bar {  
    /* style rules */  
}  