/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";
@import "build";
@import "smartgrid";
@import "nav";
@import "compass/utilities/general/clearfix";

* {
    @include box-sizing(border-box);
}

body {
    background: url(../images/curtains.jpg) fixed;
    @include background-size(cover);
    font-family: $lato;
    color: #333;
}

.wrapper {
    @include border-radius(3px);
    @include clearfix();
    @include box-shadow(0px 0px 40px black);
    background: rgba(255,255,255,.86);
    margin-top: 30px;
    padding: 0;
}

header {
    @include border-radius(3px 3px 0 0);
    // needs latest Compass, add '@import "compass"' to your scss
    background-color: rgb(174,188,191); // Old browsers
    @include filter-gradient(#aebcbf, #0a0809, vertical); // IE6-9
    @include background-image(linear-gradient(top,  rgba(174,188,191,1) 0%,rgba(110,119,116,1) 50%,rgba(10,14,10,1) 51%,rgba(10,8,9,1) 100%));

    label {
        padding: 10px;
        position: relative;
//        border: 1px solid red;
    }

    input {
        font-size: 1.2em;
        border: 1px solid #111;
        line-height: 35px;
        padding: 0 7px;
        width: 220% !important;
    }


    .icon-search { 
        display: none;
        line-height: 35px;
        vertical-align: 1px;
        padding: 0 5px;
        font-size: 1.3em;
        color: $mainwhite;
        cursor: pointer;
        text-shadow: 0px -1px 0px black;

        &:hover {
            color: #fff;
            text-shadow: 0px -1px 1px #fff;
        }
    }
}

h1 {
    font-size: 1.8em;
    border-bottom: 1px solid #aaa;
    padding: 5px 0;
    margin: 0 0 10px;
}

h2 {
    font-size: 1.4em;
    margin: 15px 0 5px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

.small-year {
    font-size: .7em;
}

p {
    line-height: 1.6;

    &.actors {
        color: #888;
        font-size: .88em;
    }
}

.tt-dropdown-menu {
    position: absolute;
    z-index: 999999;
    width: 220%;
    left: 11px;
    background: $mainwhite;
    background: rgba(255,255,255,.85);
    max-height: 300px;
    overflow: auto;
    @include border-radius(0 0 3px 3px);
    @include box-shadow(0px 2px 6px #777);
    padding-bottom: 10px;

    .tt-suggestion {
        line-height: 30px;
        text-indent: 20px;
        font-size: 1.1em;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #ccc;
        cursor: pointer;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        margin: 0 10px;

        &:hover {
            text-decoration: underline;
        }
    }
    h2 {    
        background: #eee;
        @include  box-shadow(0px 0px 2px inset #fff);
        i {
            padding: 0px 10px;
            display: inline-block;
            line-height: 30px;

            &:before { padding-top: 3px; }
        }
    }
}   

input {
    @include box-shadow(0px 0px 2px #444 inset);
    @include border-radius(3px);
//    @include transition(all 1.4s ease-in-out);

    &:focus {
        border-color: transparent;
        outline: none;
        @include box-shadow(0px 0px 7px $darkred);
    }
}

.map-canvas {
    height: 600px;
    @include border-radius( 0 0 3px 3px);
    @include box-shadow(2px 0px 6px #777);
    margin: 0;

    h2 {
        font-size: 1.4em;
        text-align: center;
    }
}

.location-data {
    padding-top: 15px;
    padding-bottom: 15px;
    height: 600px;
    float: right !important;
    padding-right: 20px;
    overflow: auto;
    text-shadow: 0px 1px 0px #ddd;
}
